<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqqMbh30nLAL_nlmdwG2xlATYMWDbWPj4</string>
	<key>GCM_SENDER_ID</key>
	<string>606955604029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlcApp</string>
	<key>PROJECT_ID</key>
	<string>mlc-app-16eb2</string>
	<key>STORAGE_BUCKET</key>
	<string>mlc-app-16eb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606955604029:ios:d59218fcd1680c15828254</string>
</dict>
</plist>